@model CRUDVillanosApp.Controllers.Ciudadano

@{
    ViewData["Title"] = "Create";
}

<h1 id="app">{{title}}</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btn" v-model="message" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" id="vol">{{backMsg}}</a>
</div>

@*Seccion Vue*@
@section Scripts {
    <script>
        var title = new Vue({
            el: "#app",
            data: {
                title: "Crear ciudadano"
            }
        });
        var volver = new Vue({
            el: "#vol",
            data: {
                backMsg: "Volver"
            }
        });
        var boton = new Vue({
            el: "#btn",
            data: {
                message: "Crear"
            }
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
