@model IEnumerable<CRUDVillanosApp.Controllers.Tarea>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <tbody>
        <tr>
            <td>
                <a class="btn btn-warning">Lunes</a> |
                <a class="btn btn-primary">Martes</a> |
                <a class="btn btn-danger">Miercoles</a>
                <a class="btn btn-warning">Jueves</a> |
                <a class="btn btn-primary">Viernes</a> |
                <a class="btn btn-danger">Sabado</a> |
                <a class="btn btn-warning">Domingo</a> |
            </td>
        </tr>
    </tbody>
</table>
